* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: Victor Mono;
  min-height: 100vh;
  width: 100%;
  background-color: #eaeaea;
  color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
h1 {
  font-size: 88px;
}
.button-container {
  display: flex;
}
.buttons {
  width: 240px;
  height: 64px;
  font-size: 36px;
  border-radius: 64px;
  margin-right: 10px;
}
#button-init {
  background-color: #32cd32;
}
#button-init:hover {
  background-color: #1f461f;
  color: #eaeaea;
}
#button-stop {
  background-color: #ff0000;
}
#button-stop:hover {
  background-color: #421717;
  color: #eaeaea;
}
@media screen and (max-width: 767px) {
  h1 {
    font-size: 60px;
    position: relative;
    text-align: center;
  }
  .button-container {
    display: block; /* Cambiar a bloque para apilar los botones en smartphones */
  }
  .buttons {
    width: 100%; /* Ancho completo para ocupar el ancho de la pantalla */
    height: 50px; /* Altura más pequeña para dispositivos móviles */
    font-size: 24px; /* Tamaño de fuente más pequeño */
    border-radius: 12px; /* Redondear los bordes menos */
    margin-right: 0; /* Eliminar margen entre botones */
    margin-bottom: 10px; /* Agregar margen inferior entre botones */
  }
}
